.boekselectie__cover{
  max-width: 100px;
}
 .boekselectie__rij:nth-child(even){
  background-color: #def;
}
.boekselectie__data-cel{
  padding: 1em;
  vertical-align:top;
}

.boekselectie__data-cel:nth-child(3){
  padding: 0;
}
.boekSelectie{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.boekSelectie__prijs{
  font-size: 2em;
}
