body{
  font-family: sans-serif;
}

.winkelwagen{
  width:3em;
  height:3em;
  background-image: url('afb/cart_icon-icons.com_48341.png');
  background-size: contain;
  float: right;
  margin-right: 3em;
}
.winkelwagen__aantal{
  background-color: #f00;
  display: inline-block;
  color:#fff;
  top: -.5em;
  right: -.9em;
  line-height: .5em;
  paddin: .5em;
  border-radius: 50% ;
}

.boekselectie__cover{
  max-width: 100px;
}
.boekselectie__rij--accent{
background-color: #def;
}
.boekselectie__data-cel{
padding: 1em;
vertical-align: top;
}



.boekselectie__data-cel{
  padding: 1em;
  vertical-align:top;
}

.boekselectie__data-cel:nth-child(3){
  padding: 0;
}
.boekSelectie{
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin-bottom: 1em;
}
.boekSelectie:nth-child(even){
  background-color: #eee;
  padding: .5em 0;
}


.boekSelectie__main{
  display: grid;
  grid-auto-rows: auto 1fr auto;
  padding: .5em 0;

}

.boekSelectie__titel{
  margin:0;
}
.boekselectie__overig{
  margin: 0;
  font-size: .8em;
  color: #444;
}


.boekSelectie__prijs{
  font-size: 2em;
  padding: .5em 0;

}
@media screen and (min-width:48em){
#uitvoer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}
.boekSelectie:nth-child(even){
  background-color: inherit;
}
.boekSelectie:nth-child(4n+2),
.boekSelectie:nth-child(4n+3){
background-color: #eee;
}
}
@media screen and (min-width:68em){

#uitvoer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}
.boekSelectie:nth-child(even){
  background-color: inherit;
}
.boekSelectie:nth-child(odd){
background-color: #eee;
}
}
